.main-nav{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84361a+28,f7ead6+100 */
	background: #84361a; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #84361a 28%, #f7ead6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #84361a 28%,#f7ead6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #84361a 28%,#f7ead6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84361a', endColorstr='#f7ead6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.carousel-fade .carousel-inner .item:after{
	background-color: rgba(132, 54, 26, 0.4);
}

.caption .btn-start:hover {
	background:#84361a;
	border-color: #84361a;
}

#home-slider .caption h1 span{
	color:#84361a;
}


.btn-submit{
	background:#84361a;
}


.btn-submit:hover{
	background:#752f16;
}

#footer{
	background-color: #752f16;
}

#footer .footer-bottom, #footer .footer-bottom a{
	color: #752f16;
}

.service-icon{
	background-color: #84361a;
}

.service-icon:hover, .service-icon:active{
	background:#f7ead6;
}